body{text-align: justify;}
.pull-right{float:right;}
.pull-left{float:left;}
.center-align{margin:0 auto; text-align:center;}
.clearfix{clear:both;}
.home-content{}
.display_none{display:none;}
.display_block{display:block;}
.inner-banner .container {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  bottom: 0;
  min-height: 64px;
  padding-left: 10%;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
ol, ul {list-style-position: inside !important;}
h3 {
  color: #d3b666;
}
.caption h3 {
  color: #fff;
}
/*
*	TOP NAV
*/
.top-nav 
{
	background: rgba(11, 89, 47, 0.6) none repeat scroll 0 0;
	min-height: 80px;
	position: absolute;
	top: 30px;
	z-index: 200000;
	color:#fff;
	width: 100%;
}
.top-nav a{color:#fff; padding-top:50%;}
.top-nav a i{padding-top: 33px;}

/*
*	TOP NAV
*/
.logo {
  height: 133px;
  left: 8%;
  position: absolute;
  top: -28%;
}
/*.logo {
    height: 145px;
	left: 7%;
	position: absolute;
	top: -30%;
}*/
.title
{
	padding-top:20px;
	width:100%;
	padding-left: 15%;
}
.title h3 {
	font-weight: 600 ;
	font-size: 195%;
	padding-top: 5px;
}
.item .slider{
	height:90vh;
}
#about-co .owl-theme#owl-carousel .owl-controls
{
	padding-top:0;
	background:none;
	width:100%;
	position: absolute;
	/*top: 42%;*/
	bottom:0;
}
#contact-map{min-height:300px; width:100%;}
#about-co .owl-theme .owl-controls .owl-page span {
  background: #BA8620 none repeat scroll 0 0;
}
.owl-theme#owl-carousel .owl-controls
{
	padding-top:5px;
	/*background: rgba(200, 160, 70, 0.8) none repeat scroll 0 0;
	background: rgba(186, 135, 31, 0.6) none repeat scroll 0 0;
	min-height:100px;*/
	width: 32%;
	position: absolute;
	bottom:10%;
	margin-left: 135px;
}

.owl-pagination
{
	width:40%;
	/*min-height:90px;
	padding-top:30px;*/
}
figcaption
{
	position:absolute;
	bottom:7%;
	left:10%;
	z-index:100000;
	color:#fff;
	width: 32%;
}
.site-instructions{background:#ba871f; text-align:center; padding:10px 0 10px 0;width: 101%;}
.site-instructions a{color:#0b592f; font-weight:bold;}
.inner-breadcrumb ul li a {
  color: #fff;
  font-size: 1.2em;
}
.inner-breadcrumb ul li {
  padding: 15px;
}
.inner-wrapper p {
  text-align: justify;
}

figcaption h3, figcaption p{background:rgba(200, 160, 70, 0.9); padding:20px;}
figcaption h3{color:#fff;}
figcaption p{padding-bottom:40px;}
ul.slide-images{ list-style:none; position: absolute; bottom: 0%;right: 6%;}
ul.slide-images li{float:left; padding:6px; background: rgba(225, 225, 225, 1) none repeat scroll 0 0; margin:10px;width:150px; }
.slide-image-thumb{max-height:100px; overflow:hidden;}
ul.slide-images li img{width:138px;}
ul.slide-images li p{text-align:center; min-height: 48px;}
.owl-theme .owl-controls .owl-page span {background: #ffffff none repeat scroll 0 0;}
.caption h3{font-size:17px; text-transform:uppercase;margin-bottom: 18px;text-align: center;min-height: 60px;}
.about a{color:#D3B666;}
.professional-affiliations{height:310px; overflow:hidden;}
.callout p, .contact-items p{margin-bottom:0 !important;}
.projects-image{/*max-height:300px;*/}
/* Media Queries */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

@media (max-width: 991px){
	.flight-types > ul > li:before {margin-right: 8%;}
	figcaption
	{
		width: 80%;
	}
	.logo {
	    height: 133px;
	    left: 8%;
	    position: absolute;
	    top: 5%;
	}
	.title {
	    padding-top: 20px;
	    width: 47%;
	    margin-left: 50%;
	}
	.title h3 {
		font-weight: 600;
		font-size: 24px;
		/*margin-left: 35%;*/
		/*padding-top: 5px;*/
	}

}

@media (max-width: 767px){
	.search-flights .btn-red{width:100%;}

	
}

@media (max-width: 730px){
	
}

@media (max-width: 688px){
	
}

@media (max-width: 558px){
}

@media (max-width: 528px){
	
}

@media (max-width: 523px){
	
}

@media (max-width: 407px){
	h1{font-size:1.5em;}
	body {font-size:1.2em;}
}

@media (max-width: 360px){
	
}

@media (max-width: 340px){
	
}

@media (max-width: 321px){
	h1{font-size:1.3em;}
	body {font-size:1.2em;}
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 0px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}